{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home page</title>

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Now we can use our style on top of bootstrap. Here order is important. First load bootstrap and then style.css -->

  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <form method="POST">
      {% csrf_token %}
      <!-- cross-site request forgery for security reason from outside attack. When submitting data from client to server -->
      {{ form }}
      <!-- This means we can use a predefined form that django provided for user to login, because in urls.py we called auth_views.login -->
      <button type="submit">Sign In</button>
    </form>
</body>
</html>
