{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home page</title>

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Now we can use our style on top of bootstrap. Here order is important. First load bootstrap and then style.css -->

  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    Registration Page
    <a href="{% url 'registration-sign-out' %}">Sign Out</a>
    <!-- Provide a link for user to sign out -->
    <!-- The registration-sign-out name comes from urls.py where we named it -->
</body>
</html>
